{% extends 'news/base.html' %}


{% load crispy_forms_tags %}


{% load static %}


{% block content %}
    

{{ block.super }}


{% for articles in article %}


<div class="box" style="border: 2px solid #ccc; padding: 2em; margin: 1em;">

  <article class="media content-section">
    <!-- 
    <img class="rounded-circle article-img" src="{{ articles.editor.profile.image.url }}" alt="Editor image"> -->

    <div class="media-body">
      <div class="article-metadata mb-2 border-bottom">
        <a class="mr-2" href="{% url 'profile' %}">{{ articles.editor }}</a>
        <small class="text-muted">{{ articles.pub_date }}</small>
      </div>
      <h4 class="mt-4"><a class="article-title" href="{% url 'profile' %}">{{ articles.title }}</a></h4>
      <p class="article-content">{{ articles.post }}</p>
    </div>
  </article>
  <div class="row" style="float: right;">
    <small class="text-muted">
      {{articles.pub_date|timesince}} ago
    </small>
  </div>

</div>



<!-- Previous Unstyled code -->

<!-- 
<div class="container">
 
  <div class="box" style="border: 2px solid #ccc; padding: 2em; margin: 1em;">

    <div class="row border-bottom">
      <h1>{{articles.title}}</h1>
    </div>
  
    <div class="row">
      <img src="{{article.article_image.url}}"  class="img-responsive" alt="">
    </div>
  
    <div class="row">
      <p>{{articles.post}}</p>
    </div>
  
    <div class="row">
      <small class="text-muted">
        Posted {{articles.pub_date|timesince}} ago by {{articles.editor.first_name}}
      </small>
    </div>

  </div>  

</div> -->

{% empty %}
<div class="row">
  <h2 class="text-center">Oops! No News Items for the day yet.</h2>
</div>

{% endfor %}


<!-- Form instance -->

<form method="post">

  {% csrf_token %}

  <fieldset class="form-group">

    <legend class="border-bottom mb-4">
      Subscribe to our NewsLetter
    </legend>

    {{ form | crispy }}

  </fieldset>

  <div class="form-group">

    <button class="btn btn-outline-info" type="submit">
      SUBSCRIBE
    </button>

  </div>

</form>


{% endblock content %}


<!-- End of the block content -->

{% block scripts %}

{{ block.super }}

<script type="text/javascript" src="{% static 'js/newsletter.js' %}"></script>

{% endblock %}