{% extends 'news/base.html' %}



{% block content %}
    

{{ block.super }}


{% for articles in article %}

<div class="container">
 
  <div class="box" style="border: 2px solid #ccc; padding: 2em; margin: 1em;">

    <div class="row border-bottom">
      <h1>{{articles.title}}</h1>
    </div>
  
    <div class="row">
      <img src="{{article.article_image.url}}"  class="img-responsive" alt="">
    </div>
  
    <div class="row">
      <p>{{articles.post}}</p>
    </div>
  
    <div class="row">
      <small class="text-muted">
        Posted {{articles.pub_date|timesince}} ago by {{articles.editor.first_name}}
      </small>
    </div>

  </div>  

</div>

{% empty %}
<div class="row">
  <h2 class="text-center">Oops! No News Items for the day yet.</h2>
</div>

{% endfor %}


{% endblock content %}