{% extends 'news/base.html' %}



{% block content %}
    

{{ block.super }}


{% for articles in article %}

<div class="container">
 
  <div class="row">
    <img src="{{article.article_image.url}}"  class="img-responsive" alt="">
  </div>

  <div class="row">
    <h1 class="text-center">{{articles.title}}</h1>
  </div>

  <div class="row">
    <p>{{articles.post}}</p>
  </div>

  <div class="row">
    <p>Posted {{articles.pub_date|timesince}} by {{articles.editor.first_name}}</p>
  </div>

</div>

{% empty %}
<div class="row">
  <h2 class="text-center">Oops! No News Items for the day yet.</h2>
</div>

{% endfor %}


{% endblock content %}