{% load static %}

<!DOCTYPE html>
<html>
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <link rel="stylesheet" href="{% static 'news/main.css' %}">

    {% if title %}
      {{title}}
    {% else %}
    <title>News App</title>
    {%endif%}

  </head>
  <body>
    

    <!-- NavBar -->

    <nav class="navbar navbar-inverse navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'News~Welcome' %}">The Moringa Tribune</a>
        </div>

        <div class="navbar-link">
          <a class="navbar-link" href="{% url 'News~Today' %}">TODAY'S HIGHLIGHTS</a>
        </div>
        <div class="navbar-link">
          <a class="navbar-link" href="{% url 'Article' %}">ALL ARTICLES</a>
        </div>
        <div class="navbar-link">
          <a class="navbar-link" href="{% url 'News~About' %}">ABOUT</a>
        </div>

        <div>

          {% if user.is_authenticated %}
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'profile' %}">PROFILE</a>
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'logout' %}">LOGOUT</a>
          </div>

          {% else %}
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'login' %}">LOGIN</a>
          </div>

          {% endif %}
        </div>
        
   
        <!-- Adding a search form  -->
        <div class="col-sm-4 col-md-4 navbar-right">
   
          <form class="navbar-form" role="search" action="{% url 'Search~Results' %}">
   
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Article" name="article">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"></button>
              </div>
            </div>
   
          </form>
        </div>
        <!-- search form end -->
      </div>
    </nav>
  
    

    <div class="container">

      <div class="row">

        <div class="col-md-8">

        {% if messages %}

          {% for message in messages %}
  
            <div class="alert alert-{{ message.tags }}">

              {{ message }}

            </div>
  
          {% endfor %}
  
        {% endif %}
  
        {% block content %}
  
  
        {% endblock %}          

        </div>

      </div>

    </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>