{% extends 'news/base.html' %}



{% block content %}
    

{{ block.super }}

<div class="container">
 
  <div class="row">
    {% if found_articles %}
      <h2>
        Found {{ found_articles|length }} of searched term: {{messages}}
      </h2>
    {% else %}
      <h4>
        Found 0 articles for the search term: {{message}}
      </h4>
    {% endif %}
 
  </div>
 
  <div class="row">
 
  {% if found_articles %}
    {% for article in found_articles %}
      <div class="col-sm-6 col-md-3">
          <h1>
            {{article.title}}
          </h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>


{% endblock content %}