{% extends 'news/base.html' %}


{% block content %}
    

{{ block.super}}
 

<div class="container">


  <h1 style="margin-left: 6em; margin-bottom: 1em;">
    {{ html }}
  </h1>
  <h1 class="border-bottom">
    Today's News Highlights
  </h1>

  
  
  <br>
 
  <!-- Looping through news   -->
  {% for new in news %}
 

<!-- New Code -->
<div class="box" style="border: 2px solid #ccc; padding: 2em; margin: 1em;">

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata mb-2 border-bottom">
        <a class="mr-2" href="{% url 'profile' %}">{{ new.editor }}</a>
        <small class="text-muted">{{ new.pub_date }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'profile' %}">{{ new.title }}</a></h2>
      <p class="article-content">{{ new.post }}</p>
    </div>
  </article>

</div>



  <!-- <div class="row"> -->

    <!-- displaying News articles -->
    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      

      
      <br>
      
      <h2 class=""> {{ new.title }} </h2>

      <p> {{ new.post }} </p>
      <br>
      <p> {{ new.tags }} </p>
      <br>
      <p> {{ new.editor }} </p>

    </div>
 
  </div> -->
 
  {% empty %}
  <div class="row">
    <h2 class="text-center">Oops! No News Items for the day yet.</h2>
  </div>

  {% endfor %}

</div>

{% endblock content %}