{% extends 'news/base.html' %}ags

{% load crispy_forms_tags %}



{% block content %}
    
{{ block.super }}

  
  <!-- <h1>
    Hello, <strong>{{ user.username }}</strong>. <br> Nice to have you here.
  </h1> -->




  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body mt-2">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
  </div>

      

{% endblock content %}

