{% extends 'news/base.html' %}ags

{% load crispy_forms_tags %}



{% block content %}
    
{{ block.super }}

  
  <!-- <h1>
    Hello, <strong>{{ user.username }}</strong>. <br> Nice to have you here.
  </h1> -->




  <div class="profile-holder" style="border: 2px solid #4e3; margin: 1em; padding: 1em;">

    <div class="content-section">
      <div class="media">
        <div class="image_holder">
          <img class="rounded-circle account-img" style="margin: 1em;" src="{{ user.profile.image.url }}"> 
        </div>          
      </div>      
    </div>
    
    <div class="media-body ml-4">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <h6>
        <strong>Bio</strong>
      </h6>
      <p>{{ user.profile.bio }}</p>
      <small class="text-muted mb-4">{{ user.profile.city }}</small>
      <hr>
      <hr style="border: 1em solid #4e3; border-radius: 5px;">
      <hr>
    </div>

    <!-- FORM HERE -->

    
    <div class="border-bottom mb-4 mt-5">

      <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
  
        <fieldset class="form-group">
  
          <legend class="border-bottom mb-4">
            Profile Info
          </legend>
  
          {{ u_form | crispy }}
  
          {{ p_form | crispy }}
  
        </fieldset>
  
        <div class="form-group">
  
          <button class="btn btn-outline-info" type="submit">
            Update
          </button>
  
        </div>
  
      </form>

    </div>



  </div>

      

{% endblock content %}

