{% extends 'news/base.html' %}ags

{% load crispy_forms_tags %}



{% block content %}
    
{{ block.super }}

    <!-- <h1>
      Below is a list of our top editors
    </h1>

    {% for new in news %}
    
    <div class="container">

      <ul>
        <li> {{new.first_name}} {{new.last_name}} </li>
      </ul>

    </div> 
  
  
      
    {% endfor %}-->



    <div class="content-section">

      <form method="post">

        {% csrf_token %}

        <fieldset class="form-group">

          <legend class="border-bottom mb-4">
            Join Today
          </legend>

          {{ form | crispy }}

        </fieldset>

        <div class="form-group">

          <button class="btn btn-outline-info" type="submit">
            SIGN UP
          </button>

        </div>

      </form>

      <div class="border-top pt-3">

        <small class="text-muted">
          
          Already have an Account? 

          <a href="#" class="ml-2">Login</a>

        </small>

      </div>

    </div>
    
      

{% endblock content %}

